.sign-in-page {
  background-image: url(../../assets/createaccountbackgrount.svg);
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
 background-attachment: fixed;
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the items */
  align-items: center;
}
.sign-in-form {
  padding-left: 40%;
  padding-top: 3%;
  padding-right: 40%;
  padding-bottom: 15%;
}
.sign-in-form-input {
  width: 90%;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: none;
  display: flex;
  background-color: transparent;
  color: #18CDCA;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;

  padding-left: 5px;
}

.sign-in-form-input-lable2 {
  padding: 1%;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 3px solid #18CDCA;;
  display: flex;
}
.sign-in-form-input-02 {
  text-decoration: none;
  margin-left: 5px;
  width: 90%;
  height: 2.8125rem;
  flex-shrink: 0;
  border: none;
  outline: none; /* Remove the border when focused */
  display: flex;
  background-color: transparent;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
  padding-left: 5px;
}

.sign-in-form-input-02::placeholder {
  color: #18CDCA; 
  align-items: center;
}

.sign-in-form-input-02-lable {
  padding: 5%;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  display: flex;
}
.input-lable-icon2 {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  margin-top: 0.6rem;
  color: #18CDCA;
}
.signin-button {
  width: 18.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border: none;
  border-radius: 0.25rem;
  background: #18CDCA;
  color: #2148c0;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}
.sign-in-small-text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9125rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.logo-pmt {
  width: 10rem;
  height: 10rem;
}
.create-account-form {
  padding-left: 20%;
  padding-top: 15%;
  padding-right: 20%;
  padding-bottom: 15%;
}
.logo-div {
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the items */
  align-items: center;
}
.form-div {
  justify-content: center; /* Horizontally center the items */
  align-items: center;
}
.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.3s;
}

.back-button img {
  height: 24px;
  width: 24px;
}

.back-button:hover {
  transform: scale(1.1);
}
