/* Component-card styling*/

.card--container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
}

.card {
  flex: 1 0 25%;
  max-width: 350px;
  max-height: 200px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.card--title {
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
  color: #0d062d;
  font-weight: 600;
  width: 100%;
}

.card--icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 0px 0;
}

.card--icon img {
  max-width: 100%;
  max-height: 100%;
}

.card--data {
  text-align: center;
  font-size: 24px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-weight: bold;
  width: 100%;
}

.card-remaining {
  background: #ff6b6b !important;
}

.card-total {
  background: #6bcb77 !important;
}

.card-hours1 {
  background: #ffd93d !important;
}
.student-id-card {
  /* General styling for the card */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.action-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.icon-container {
  margin-bottom: 16px;
}

.input-lable-icon {
  width: 50px;
  height: 50px;
}

.scan-barcode {
  text-align: center;
}

.scan-barcode-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scan-barcode-button:hover {
  background-color: #0056b3;
}
