/* Component-scan card style */

.left-section10 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-id-card10 {
  width: 500px;
  height: 500px;
  background-color: #f3eeee;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #bdf2d5;
  transition: transform 0.3s ease-in-out;
}

.icon-container10 img.qr-code-image {
  /* Increase the size of the QR code image */
  width: 200px;
  height: 200px;
}

.action-text10 {
  margin-top: 40px;
  font-size: 16px;
  color: #0d062d;
  font-weight: 500;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.drug-details {
  background-color: rgb(7, 75, 7);
  border-color: darkgreen;
  color: white;
}

.try-again {
  background-color: rgb(75, 5, 5);
  border-color: rgb(241, 31, 31);

  color: white;
}
.try-again.clicked {
  background-color: black; /* Change background color to black when clicked */
  border-color: black; /* Also change border color */
  color: white;
}

.student-id-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.left-section .student-id-card {
  background-color: #bdf2d5; /* Background color for the "Provide Medicine" container */
}

.right-section .student-id-card {
  background-color: #dbdbdb; /* Background color for the "Book Time Slot" container */
}
