.bioFormLeft {
  width: 28.3125rem;
  height: 32.375rem;
  flex-shrink: 0;
}
.formTitleBioForm {
  width: 11.75rem;
  height: 0.9375rem;
  flex-shrink: 0;
  color: #787486;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.leftBioFormInputFieldTitle {
  width: 7.8125rem;
  height: 1.8125rem;
  flex-shrink: 0;
  color: #000;
  font-family: "Istok Web";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.inputTagForBioDataleft {
  width: 28.3125rem;
  height: 2.625rem;
  flex-shrink: 0;
  border: 5px solid #d9d9d9;
  margin-top: -1rem;
  text-align: center;
}
.inputTagForBioDataleft::placeholder {
  text-align: center;
}
.ButtonForLeftForm {
  display: flex;
  width: 10rem;
  height: 2.125rem;
  padding: 0.625rem 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background-color: #18cd45;
  color:"white";
  font-family: Inter;
  font-size:1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem; /* 200% */
  margin-left: 75%;
  margin-top: 2rem;
}
