.user-cards-admin-dashboard-doctor,
.user-cards-admin-dashboard-patient,
.user-cards-admin-dashboard-pharmacist,
.user-cards-admin-dashboard-admin {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17.5625rem;
	height: 6.375rem;
	flex-shrink: 0;
	border-radius: 1rem;
	color: #0d062d;
	transition: transform 0.3s ease-in-out;
}
.user-cards-admin-dashboard-doctor:hover,
.user-cards-admin-dashboard-patient:hover,
.user-cards-admin-dashboard-pharmacist:hover,
.user-cards-admin-dashboard-admin:hover {
    transform: scale(1.1); 
}

.user-cards-admin-dashboard-doctor {
	background: #ff6b6b;
}

.user-cards-admin-dashboard-patient {
	background: #ffd93d;
}

.user-cards-admin-dashboard-pharmacist {
	background: #6bcb77;
}
.user-cards-admin-dashboard-admin {
	background: #74a7e9;
}

.icon {
	width: 4rem;
	height: 4rem;
	flex-shrink: 0;
	margin-left: 3rem; /* Add some margin to separate icon and text */
}
.icon2 {
	width: 4rem;
	height: 4rem;
	flex-shrink: 0;
	margin-left: 3rem; /* Add some margin to separate icon and text */
}

.text {
	color: #0d062d;
	font-family: Inter;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 0.5rem;
}
