/* Importing the font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Footer styles */
:root {
    --primary-color: #5030e5;
    --primary-color2: #18CDCA;
    --primary-color-dark: #4329b7;
    --text-light: #6b7280;
    --white3: #2d9795;
  }

footer {
  background-color: var(--primary-color2);
  padding: 2rem 1rem;
  color: var(--white);
  text-align: center;
  bottom: 0;
  width: 100%; 
  position: relative;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color2);
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer__link a {
  text-decoration: none;
  color: var(--primary-color2);
  transition: color 0.3s;
}

.footer__link a:hover {
  color: var(--primary-color2);
}

.footer__social-media {
  display: flex;
  gap: 1rem;
}

.social-media__icon {
  text-decoration: none;
  color: var(--primary-color2);
  transition: color 0.3s;
}

.social-media__icon:hover {
  color: var(--white3);
}

.footer__copyright {
  font-size: 0.875rem;
}

/* Responsive styles */
@media (width < 900px) {
  .footer__content {
    flex-direction: column;
    gap: 0.5rem;
  }
}
