/* FeedbackForm.css */

/* Container styling */
.form-container {
  max-width: 600px; /* Increase container size */
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative; /* Added to ensure the absolute positioning of the alert */
}

/* Input field styling */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
  color: #0f0f0f;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #18cdca;
  box-shadow: 0 0 0 2px rgba(106, 100, 241, 0.2);
}

/* Button styling */
.form-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #18cdca; /* Change button color */
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #18cdca; /* Darker shade of the button color on hover */
}

/* Custom styling for message input */
.message-input {
  height: 120px; /* Increase height of the message box */
  resize: vertical; /* Allow vertical resizing */
}

/* Custom styling for alert */
.custom-alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 1rem; /* Added margin to ensure space between alert and content */
}

.custom-alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 1rem; /* Added margin to ensure space between alert and content */
}

.alert {
  position: relative; /* Ensure position for dismiss button */
}
