.nav-iconset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 50px; /* Adjust as needed to add space between items */
}

.doc-availability-container {
  display: flex;
  align-items: center;
}

.qr-code-container {
  display: flex;
  align-items: center;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Add space between QR Code and profile */
}
